/* Structural CSS */

DIV.diffobj_container {
  box-sizing: border-box;
}
DIV.diffobj_container *,
DIV.diffobj_container *:before,
DIV.diffobj_container *:after {
  box-sizing: inherit;
}
DIV.diffobj_container DIV.row {
  width: 100%;
  font-family: monospace;
  display: table;
  table-layout: fixed;
}
DIV.diffobj_container DIV.line {
  display: table-cell;
}
DIV.diffobj_container DIV.text {
  display: table-cell;
  width: 100%;
}
DIV.diffobj_container DIV.gutter {
  display: table-cell;
  padding: 0 0.2em;
}
/* github inspired color scheme - default */

DIV.diffobj_container DIV.gutter,
DIV.diffobj_container DIV.header {
  color: #999;
}
DIV.diffobj_container SPAN.word.insert,
DIV.diffobj_container DIV.line>DIV.insert {
  background-color: #a6f3a6;
}
DIV.diffobj_container SPAN.word.delete,
DIV.diffobj_container DIV.line>DIV.delete {
  background-color: #f8cbcb;
}
DIV.diffobj_container DIV.text>DIV {
  padding-left: 0.5em;
  border-left: 1px solid #888888;
}
DIV.diffobj_container DIV.text>DIV.insert {
  background-color: #eaffea;
  border-left: 1px solid #33bb33;
}
DIV.diffobj_container DIV.text>DIV.delete {
  background-color: #ffecec;
  border-left: 1px solid #cc6666;
}
DIV.diffobj_container DIV.header {
  /*background-color: #f2f8fa;*/
  background-color: #e0e6fa;
  /*color: #888800;*/
  font-size: 1.1em;
  border-left: 1px solid #9894b6;
}
DIV.diffobj_container DIV.text>DIV.match {
  background-color: #ffffff;
}
DIV.diffobj_container DIV.line {
  background-color: #eeeeee;
}
DIV.diffobj_container DIV.line>DIV.insert {
  border-left: 1px solid #33bb33;
}
DIV.diffobj_container DIV.line>DIV.delete {
  border-left: 1px solid #bb3333;
}
DIV.diffobj_container DIV.line>DIV.match {
  border-left: 1px solid #888888;
}
